# at first project specific files
# generated conversion failures
*.received
# unfinshed conversion tests
*.off

# kernel files, which wer enot removed after a crash
kernel*.json

# manually generated knitpy config file
knitpy_config.py

# ipython checkpoints/ backup copies
.ipynb_checkpoints/

# now more or less everything which generally doe snot belong to a repo
*.py[cod]
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# generated docs
docs/_static/
docs/generated/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#pycharm
.idea/

*.swp

# Testing
tmp
rmd/
*.ipynb

# examples which do not need to be in the repo (html should be..)
examples/knitpy_overview_files/figure-docx/
examples/knitpy_overview_files/figure-pdf/
examples/knitpy_overview_files/figure-tex/
examples/knitpy_overview.tex
